<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>backend.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ban</servlet-name>
        <servlet-class>backend.admin.ban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>banupdate</servlet-name>
        <servlet-class>backend.admin.banupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unban</servlet-name>
        <servlet-class>backend.admin.unban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unbanupdate</servlet-name>
        <servlet-class>backend.admin.unbanupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>backend.admin.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteupdate</servlet-name>
        <servlet-class>backend.admin.deleteupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>backend.game.start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coins</servlet-name>
        <servlet-class>backend.game.coins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardlist</servlet-name>
        <servlet-class>backend.game.cardlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellcard</servlet-name>
        <servlet-class>backend.game.sellcard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardlistupdate</servlet-name>
        <servlet-class>backend.game.cardlistupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellcardupdate</servlet-name>
        <servlet-class>backend.game.sellcardupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coinupdate</servlet-name>
        <servlet-class>backend.game.coinupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buycard</servlet-name>
        <servlet-class>backend.game.buycard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buycardlist</servlet-name>
        <servlet-class>backend.game.buycardlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buycardupdate</servlet-name>
        <servlet-class>backend.game.buycardupdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sign</servlet-name>
        <servlet-class>backend.signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ban</servlet-name>
        <url-pattern>/ban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>banupdate</servlet-name>
        <url-pattern>/banupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unban</servlet-name>
        <url-pattern>/unban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unbanupdate</servlet-name>
        <url-pattern>/unbanupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteupdate</servlet-name>
        <url-pattern>/deleteupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coins</servlet-name>
        <url-pattern>/coins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardlist</servlet-name>
        <url-pattern>/cardlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellcard</servlet-name>
        <url-pattern>/sellcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardlistupdate</servlet-name>
        <url-pattern>/cardlistupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellcardupdate</servlet-name>
        <url-pattern>/sellcardupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coinupdate</servlet-name>
        <url-pattern>/coinupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buycard</servlet-name>
        <url-pattern>/buycard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buycardlist</servlet-name>
        <url-pattern>/buycardlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buycardupdate</servlet-name>
        <url-pattern>/buycardupdate</url-pattern>
    </servlet-mapping>
</web-app>
